@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --yellow:#f9d806;
    --light-yellow:#ffee80;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.1rem solid rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
.cards{
    display: grid;
    margin-top: 50px;
  text-align: center;
    grid-template-columns: repeat(2,1fr);
    margin: 10px;
}
.logo{
    text-decoration: none;
    color: rgb(27, 27, 8);
}
.card{
    border-radius: 20px ;
    margin:10px;
    -webkit-box-shadow: 5px 2px 8px 17px rgba(61, 118, 161, 0.2);
-moz-box-shadow: 5px 2px 8px 17px rgba(61, 118, 161, 0.2);
box-shadow: 5px 2px 8px 17px rgba(61, 118, 161, 0.2);
}

video{
    width:400px !important;
    height: 600px;
    margin: 10px;
    margin-left: 0px !important;
    border: 2px solid rgb(11, 11, 11);
    border-radius: 25px;
    -webkit-box-shadow: 7px 8px 16px 26px rgba(9, 12, 15, 0.21);
    -moz-box-shadow: 7px 8px 16px 26px rgba(9, 12, 15, 0.21);
    box-shadow: 7px 8px 16px 26px rgba(9, 12, 15, 0.21);
}
.videos{
    text-align: center;
}

@media only screen and (max-width:900px){
    .cards{
        grid-template-columns: repeat(1,1fr);
    }
    video{
        width:300px !important;
    }
}












